apiVersion: apps/v1
kind: Deployment
metadata:
  name: cats-dogs-classifier
  namespace: mlops
  labels:
    app: cats-dogs-classifier
    version: "1.0.0"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cats-dogs-classifier
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: cats-dogs-classifier
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8000"
    spec:
      containers:
        - name: api
          image: ghcr.io/yagnesh-bits/cats-dogs-classifier:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: MODEL_PATH
              value: /app/models/artifacts/best_model.pt
            - name: MODEL_TYPE
              value: cnn
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          volumeMounts:
            - name: model-volume
              mountPath: /app/models/artifacts
              readOnly: true
      volumes:
        - name: model-volume
          persistentVolumeClaim:
            claimName: model-pvc
      imagePullSecrets:
        - name: ghcr-secret
